.httpOnline-container {
    display: flex;
    /* justify-content: center; */
    margin-top: 10px;
}

.httpOnline-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.httpOnline-url {
    display: flex;
    justify-content: space-between;
}

.url-left {
    display: flex;
    gap: 5px;
}

.url-left input[name='url'] {
    width: 500px;
}

.httpOnline-input {}
.httpOnline-out{
    
}

.httpOnline-out-element {
    white-space: pre-line;
    display: none;
}


.httpOnline-out-active{
    display: block !important;
}
.httpOnline-out-btns{
    display: flex;
    gap: 10px;
}
.httpOnline-header-item input{
    padding: 5px 8px;
    width: 200px;
   
}
.httpOnline-header-item input:last-child{
    width: 300px;

}

.errorMsg{
    color: red;
}
.httpOnline-left{
    height: 100%;
    width: 70%;
    display: flex;
}
.online-api-list{
    width: 200px;
    height: 100%;
}
.httpOnline-api-item{
    cursor: pointer;
}
