.Spinner{
    /* position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0; */
    /* background-color: #f4f5f5; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}
.Spinner::after{
    content: "";
    /* position: absolute; */
    width: 50px;
    height: 50px;
    /* background-color: beige; */
    border: 10px solid #c99f9f;
    border-radius: 50%;
    border-top-color: #383636;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}